<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>所有用户</title>
</head>
<body>
<table border="1px" align="center">
    <tr>
        <th>用户 ID</th>
        <th>用户名称</th>
        <th>用户年龄</th>
        <th>操   作</th>
    </tr>
    <tr th:each="user:${allUser}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td>
            <a th:href="@{/user/edit(userId=${user.id})}">更新</a>
            <a th:onclick="|javascript:del(${user.id})|">删除</a>
        </td>
    </tr>
</table>
</body>
<script>
    function del(userId){
        if(confirm("确定删除吗？")){
            location.href="/user/delete?userId="+userId;
        }
    }
</script>
</html>