<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>飞机大战-真男人就撑过20秒</title>
    <link rel="stylesheet" type="text/css" href="/backstage/css/background.css">
    <link rel="stylesheet" type="text/css" href="/backstage/css/form.css">
    <style>
        .form-container {
            position: relative;
            left: 70%;
            top: 27%;
        }
    </style>
</head>

<body>
<div id="bg-penuh"/>
<div class="form-container">
    <p class="title">Aircraft war</p>
    <p class="sub-title">In the plane war game, the real man can only last 20 seconds.</p>
    <form action="/air/user/login" method="post" class="form">
        <input type="text" name="username" class="input" placeholder="userName">
        <input type="password" name="password" class="input" placeholder="Password">
        <button class="form-btn" type="submit">Login</button>
    </form>
    <p class="sign-up-label">
        Don't you have an account yet?<span class="sign-up-link"><a href="/air/user_register">Register</a></span>
    </p>

</div>

</body>

</html>